<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Home Page</title>
</head>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand" href="{% url 'users' %}">User</a>
            <a class="navbar-brand" href="{% url 'rating' %}">Rating</a>
            <a class="navbar-brand navbar-right" href="{% url 'logout' %}" id="logout">Logout</a>
        </div>
    </div>
</nav>
<body>
<div class="container-fluid" style="width: 750px">
    <h1 class="text-center mt-5">Welcome to the Home page!</h1>
    <h3 class="text-center mt-5">About this website:</h3>
    <h5 class="text-center mt-5">This website (and thus, this project) was created for the Web Development class of 2023/2024.</h5>
    <h5 class="text-center mt-5">The goal of this project was to create a functional, responsive website that allows logged-in users to upload their opinions and ratings about movies they had seen. It was important that there are at least two sites that communicate with each other and a database, along with a proper security system (which here, means the log-in function).</h5>
</div>
</body>
</html>