<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Ratings</title>
</head>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand" href="{% url 'users' %}">User</a>
            <a class="navbar-brand" href="{% url 'rating' %}">Rating</a>
        </div>
    </div>
</nav>
<body>
<div class="container">
    <div class="container" id="forms">
        <h2>Add Rating</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="user" placeholder="name">
            <input type="text" name="title" placeholder="movie title">
            <input type="text" name="opinion" placeholder="my opinion...">
            <input type="text" name="rating" step="any" placeholder="0">
            <button type="submit" name="createRating">Add Rating</button>
        </form>
    </div>
    <div class="container" id="table">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>MovieTitle</th>
                <th>Opinion</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.user.name }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.opinion }}</td>
                <td>{{ item.rating }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>
</body>
</html>