<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Users</title>
</head>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand" href="{% url 'users' %}">User</a>
            <a class="navbar-brand" href="{% url 'rating' %}">Rating</a>
        </div>
    </div>
</nav>
<body>
<div class="container">
    <div class="container" id="modes">
        <h2>Users</h2>
        <h3>Select mode of operation</h3>
        <form method="get">
            <button type="submit" name="mode" value="add" class="btn btn-secondary">Add User</button>
            <button type="submit" name="mode" value="edit" class="btn btn-secondary">Edit User</button>
        </form>
    </div>
    <div class="container" id="forms">
        {% if mode == 'add' %}
        <form method="post">
            {% csrf_token %}
            <input type="text"  name="name" placeholder="user">
            <input type="number" name="age" placeholder="user age">
            <input type="text" name="countryOfOrigin" placeholder="user country of origin">
            <button type="submit" name="createUser" class="btn btn-primary">Create User</button>
        </form>
        {% elif mode == 'edit' %}
        <form method="post">
            {% csrf_token %}
            <input type="text" name="id" placeholder="id">
            <input type="text"  name="name" placeholder="user">
            <input type="number" name="age" placeholder="user age">
            <input type="text" name="countryOfOrigin" placeholder="user country of origin">
            <button type="submit" name="editUser" class="btn btn-primary">Edit User</button>
        </form>
        {% endif %}
    </div>
    <div class="container" id="table">
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Country of Origin</th>
                <th>Delete User</th>
            </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.countryOfOrigin }}</td>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ item.id }}" name="id">
                        <button type="submit" name="deleteUser" class="btn btn-dark">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>
</body>
</html>